In [40]:
!pip uninstall imblearn
!pip install -U imbalanced-learn
# Initial imports.
import re

import pandas as pd
import numpy as np
import sqlalchemy as sql
import tensorflow as tf

from sklearn.cluster import AgglomerativeClustering
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, roc_curve
from sklearn.datasets import make_classification
from imblearn.ensemble import RUSBoostClassifier, EasyEnsembleClassifier
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss
from matplotlib import pyplot
from getpass import getpass

!python -c "import imblearn;print(imblearn.__version__)"

WARNING: Skipping imblearn as it is not installed.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.9.1)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
0.9.1

In [10]:
# Ask for the database pasword
password = getpass('Enter database password')

Enter database password··········

In [11]:
# Create engine to connect to database
engine = sql.create_engine(f'postgresql://postgres:{password}@obstetric-violence.clstnlifxcx7.us-west-2.rds.amazonaws.com:5432/ENDIREH_2021')

# Get list of table names
sql.inspect(engine).get_table_names()

['TVIV', 'TSDem', 'TB_SEC_III', 'TB_SEC_IV', 'TB_SEC_X', 'obstetric_violence']

In [12]:
# Read the obstetric_violence table and show the results
RDS_df = pd.read_sql_table('obstetric_violence', con=engine)
RDS_df.head(5)

,ID_PER,ID_VIV,UPM,VIV_SEL,HOGAR,N_REN,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
0,0100128.05.1.02,100128.05,100128,5,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0101482.03.1.03,101482.03,101482,3,1,3,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0101631.04.1.01,101631.04,101631,4,1,1,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0101876.04.1.02,101876.04,101876,4,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
4,0102096.02.1.02,102096.02,102096,2,1,2,1,AGUASCALIENTES,5,JESÚS MARÍA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Creating a copy of the database to choose the features we will use to analyse
df_copy = RDS_df.copy()

In [14]:
# Remove columns that had data that wasn't usefull like ids, sampling information and table structure
df_copy = df_copy.drop(columns=['ID_VIV', 'ID_PER' ,'UPM', 'VIV_SEL', 'HOGAR', 'N_REN', 'CVE_ENT', 'CVE_MUN', 'COD_RES', 'EST_DIS', 'UPM_DIS', 'ESTRATO', 'NOMBRE', 'SEXO', 'COD_M15', 'CODIGO', 'REN_MUJ_EL', 'REN_INF_AD', 'N_REN_ESP','T_INSTRUM', 'FAC_VIV', 'FAC_MUJ', 'PAREN', 'GRA', 'NOM_MUN', 'P4_4_CVE'])

In [15]:
# Removing women that did not had a pregnancy on the last 5 years
df_copy = df_copy[df_copy.P10_2 == 1.0].reset_index(drop=True)
df_copy.head(5)

,NOM_ENT,DOMINIO,EDAD,NIV,P1_1,P1_2,P1_2_A,P1_3,P1_4_1,P1_4_2,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
0,AGUASCALIENTES,U,45,11.0,3,3,5,15,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
1,AGUASCALIENTES,R,31,4.0,3,2,3,5,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
2,BAJA CALIFORNIA,U,27,4.0,3,1,1,3,2,1,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
3,BAJA CALIFORNIA,U,25,10.0,3,1,3,6,2,1,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
4,COLIMA,U,30,9.0,3,2,4,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#List of each target question we chose 
target = ['P10_8_1',
'P10_8_2',
'P10_8_3',
'P10_8_4',
'P10_8_5',
'P10_8_6',
'P10_8_7',
'P10_8_8',
'P10_8_9',
'P10_8_10',
'P10_8_11',
'P10_8_12',
'P10_8_13',
'P10_8_14',
'P10_8_15']

In [29]:
# Function to create a dataset for each target question and store it in a dictionary
def DataFrame_X_y_split(source_df,targets, df_X_y_dict = {}):
    # Create a copy of the dataframe to avoid making changes in the original
    df = source_df.copy()

    # Format the Income related columns since 999999 is used to declare a non-specified income and thus can be used as 0
    income_columns = ['P4_2', 'P4_5_AB', 'P4_7_AB', 'P4_9_1', 'P4_9_2', 'P4_9_3', 'P4_9_4', 'P4_9_5', 'P4_9_6', 'P4_9_7']
    df[income_columns] = df[income_columns].fillna(0)
    df[income_columns].apply(lambda x: x.astype(int))    
    df[(df[income_columns] >= 999998)][income_columns] = 0

    # Declare which features use text as their value (categorical features)
    string_columns = ['NOM_ENT', 'DOMINIO','P1_1','P1_4_1','P1_4_2','P1_4_3','P1_4_4','P1_4_5','P1_4_6','P1_4_7','P1_4_8',
                      'P1_4_9', 'P1_5', 'P1_6', 'P1_6', 'P1_8','P1_10_1','P1_10_2','P1_10_3','P1_10_4', 'P2_5','P2_6', 
                      'P2_8','P2_9','P2_10','P2_11','P2_12','P2_13','P2_14','P2_15', 'P2_16','P3_1','P3_2','P3_3','P3_4',
                      'P3_5','P3_6','P3_7', 'P3_8', 'P4AB_1', 'P4B_1','P4B_2','P4C_1','P4BC_3','P4BC_4','P4BC_5','P4_1',
                      'P4_2_1','P4_3', 'P4_4','P4_5_1_AB','P4_6_AB','P4_8_1','P4_8_2','P4_8_3','P4_8_4','P4_8_5','P4_8_6',
                      'P4_8_7', 'P4_10_2_1', 'P4_10_2_2', 'P4_10_2_3', 'P4_10_3_1', 'P4_10_3_2', 'P4_10_3_3','P4_11',
                      'P4_12_1','P4_12_2','P4_12_3','P4_12_4','P4_12_5','P4_12_6','P4_12_7', 'P4_13_1', 'P4_13_2', 'P4_13_3',
                      'P4_13_4', 'P4_13_5', 'P4_13_6', 'P4_13_7', 'P10_1_1','P10_1_2','P10_1_3','P10_1_4','P10_1_5','P10_1_6',
                      'P10_1_7','P10_1_8','P10_1_9','P10_5_01','P10_5_02','P10_5_03','P10_5_04','P10_5_05','P10_5_06','P10_5_07',
                      'P10_5_08','P10_5_09','P10_5_10','P10_5_11','P10_7']
    
    # Change dtype of string columns to object
    df.loc[:,df.columns.isin(string_columns)] = df.loc[:,df.columns.isin(string_columns)].fillna('b')
    df.loc[:,df.columns.isin(string_columns)] = df.loc[:,df.columns.isin(string_columns)].astype(object)

    # Change the remaining columns to integer datatype
    df.loc[:,~df.columns.isin(string_columns)] = df.loc[:,~df.columns.isin(string_columns)].fillna(0)
    df.loc[:,~df.columns.isin(string_columns)] = df.loc[:,~df.columns.isin(string_columns)].astype(int)

    # Fill the remaining columns with b to represent they were left as blank
    df.fillna('b',inplace=True)

    # Create list of categorical columns
    categorical_features = df.dtypes[df.dtypes == 'object'].index.tolist()

    # Remove the target question from the list of categorical columns
    for target in targets:
        if target in categorical_features:
            categorical_features.remove(target)

    # Split the answers in P4_4 and keep only the first word
    df['P4_4'] = df['P4_4'].str.split().str.get(0)

    # Bucket the P4_4 answers depending on their frequency 
    ## Create a dataframe to obtain the frequency of each answer for question P4_4
    answer_freq = pd.DataFrame(
    {
    'NAME':df['P4_4'].value_counts().index.tolist(),
    'COUNT':list(df['P4_4'].value_counts())
    })

    # Replace all answers that appeared less than 6 times in the dataset with Other
    for answer in list(answer_freq.loc[(answer_freq['COUNT']<6)]['NAME']):
      df['P4_4'] =df['P4_4'].replace(answer,"Other")
        
    # Set the categorical features dtype as string
    df[categorical_features].apply(lambda x: x.astype(str))

    # Enconde the categorical features
    encode_df = pd.get_dummies(df, columns=categorical_features)

    # Create the dataset for each question
    for target in targets:
        # Drop the rows where the target answers are blank
        df_X = encode_df.loc[encode_df[target] != 0].drop(columns=targets)
        df_y = encode_df.loc[encode_df[target] != 0,[target]]
        # Create nested dictionary for the target question
        df_X_y_dict[target] = {}
        # Store the X and y datasets that will be used with the random forest model for the key question
        df_X_y_dict[target]['X'] = df_X
        df_X_y_dict[target]['y'] = df_y

    return df_X_y_dict

In [30]:
# Datasets for each target question
dataset_dictionary = DataFrame_X_y_split(df_copy, target)

In [55]:
dataset_dictionary['P10_8_1']['y']

       P10_8_1
0            2
1            2
2            2
3            2
6            2
...        ...
20942        2
20943        2
20944        2
20945        2
20946        2

[19322 rows x 1 columns]

In [ ]:
def Bagging_Classifier(key, dict_X, dict_y, Bagging_Results = {}):
    # Create a copy of the X and y datasets to prevent modifications in the original dataset
    X = dict_X.copy()
    y = dict_y.copy()
    # Grab the y information from the target dataset
    y = y.astype('int').values.ravel()
    # Create the train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X.values, y, random_state=18, stratify=y)
    # Create a scaler instance
    scaler = StandardScaler()
    # Train the standard scaler using the X_train data
    X_scaler = scaler.fit(X_train)
    # Scale the X training data
    X_train_scaled = X_scaler.transform(X_train)
    # Scale the X test data
    X_test_scaled = X_scaler.transform(X_test)
    # Create instance of the Random Forest Classifier
    bc_model = BaggingClassifier(n_estimators=500, random_state = 18)
    # Fit the training data to the model
    bc_model.fit(X_train_scaled, y_train)
    # Predict the results for the target question
    predictions = bc_model.predict(X_test)
    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, predictions)
    # Calculating the accuracy score.
    acc_score = accuracy_score(y_test, predictions)
    # Store the results results
    Bagging_Results[key] = {}
    Bagging_Results[key]['Predictions'] = predictions
    Bagging_Results[key]["Confusion Matrix"] = cm
    Bagging_Results[key]["Accuracy Score"] = acc_score
    Bagging_Results[key]["Classification Report"] = classification_report(y_test, predictions)    
    return Bagging_Results

In [ ]:
Bagging_Results = Bagging_Classifier('P10_8_1',dataset_dictionary['P10_8_1']['X'],dataset_dictionary['P10_8_1']['y'])

In [ ]:
print(Bagging_Results['P10_8_1']['Classification Report'])

              precision    recall  f1-score   support

           1       0.06      0.01      0.01       347
           2       0.93      0.99      0.96      4484

    accuracy                           0.92      4831
   macro avg       0.50      0.50      0.49      4831
weighted avg       0.87      0.92      0.89      4831

In [ ]:
print(Bagging_Results['P10_8_1']["Confusion Matrix"])

[[   2  345]
 [  30 4454]]