In [1]:
import pandas as pd

In [3]:
# Overview of the data in the SEC_X table
df = pd.read_csv('TB_SEC_X.csv', encoding='cp1252')
df_EDA = pd.DataFrame({
    'column name' : df.columns,
    'dtype' : df.dtypes,
    'number of unique values' : df.nunique(),
    'number of entries' : df.count()
}).reset_index().drop(columns='index')

df_EDA

   column name    dtype  number of unique values  number of entries
0       ID_VIV  float64                   110127             110127
1       ID_PER   object                   110127             110127
2          UPM    int64                    17744             110127
3      VIV_SEL    int64                       24             110127
4        HOGAR    int64                        5             110127
5        N_REN    int64                       16             110127
6      DOMINIO   object                        3             110127
7      CVE_ENT    int64                       32             110127
8      NOM_ENT   object                       32             110127
9      CVE_MUN    int64                      269             110127
10     NOM_MUN   object                     1205             110127
11   T_INSTRUM   object                        6             110127
12     P10_1_1  float64                        3              71214
13     P10_1_2  float64                        3              71214
14     P10_1_3  float64                        3              71214
15     P10_1_4  float64                        3              71214
16     P10_1_5  float64                        3              71214
17     P10_1_6  float64                        3              71214
18     P10_1_7  float64                        3              71214
19     P10_1_8  float64                        3              71214
20     P10_1_9  float64                        3              71214
21       P10_2  float64                        3              71214
22       P10_3  float64                        8              20947
23     P10_4_1  float64                       10              20947
24     P10_4_2  float64                        6              20947
25     P10_4_3  float64                        7              20946
26    P10_5_01  float64                        2              20947
27    P10_5_02  float64                        2              20947
28    P10_5_03  float64                        2              20947
29    P10_5_04  float64                        2              20947
30    P10_5_05  float64                        2              20947
31    P10_5_06  float64                        2              20947
32    P10_5_07  float64                        2              20947
33    P10_5_08  float64                        2              20947
34    P10_5_09  float64                        2              20947
35    P10_5_10  float64                        2              20947
36    P10_5_11  float64                        2              20947
37   P10_6ANIO  float64                       31              20947
38    P10_6MES  float64                       15              20947
39       P10_7  float64                       10              19386
40     P10_8_1  float64                        2              19322
41     P10_8_2  float64                        2              19322
42     P10_8_3  float64                        2              19322
43     P10_8_4  float64                        2              19322
44     P10_8_5  float64                        2              19322
45     P10_8_6  float64                        2              19322
46     P10_8_7  float64                        2              19322
47     P10_8_8  float64                        2              19322
48     P10_8_9  float64                        2              19322
49    P10_8_10  float64                        2              19322
50    P10_8_11  float64                        2              19322
51    P10_8_12  float64                        2              19322
52    P10_8_13  float64                        2               9089
53    P10_8_14  float64                        2               9089
54    P10_8_15  float64                        4                695
55     FAC_VIV    int64                     1342             110127
56     FAC_MUJ    int64                     3004             110127
57     ESTRATO    int64                        4             110127
58     UPM_DIS    int64                    17744             110127
59     EST_DIS    int64                      617             110127

In [4]:
# Create method to print the column name and dtype to use with the SQL Schema
def table_schema(df):
    df_schema = pd.DataFrame({
    'column name' : df.columns,
    'dtype' : df.dtypes
    }).reset_index().drop(columns='index')
    df_schema.loc[(df_schema['dtype'] == 'int64'),'dtype'] = 'INTEGER'
    df_schema.loc[(df_schema['dtype'] == 'float64'),'dtype'] = 'DECIMAL'
    df_schema.loc[(df_schema['dtype'] == 'object'),'dtype'] = 'VARCHAR'
    for index, row in df_schema.iterrows():
        print(row['column name'], row['dtype'], ',')

In [5]:
# Row and postgres dtype for the TB_SEC_X table
table_schema(pd.read_csv('TB_SEC_X.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
HOGAR INTEGER ,
N_REN INTEGER ,
DOMINIO VARCHAR ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
T_INSTRUM VARCHAR ,
P10_1_1 DECIMAL ,
P10_1_2 DECIMAL ,
P10_1_3 DECIMAL ,
P10_1_4 DECIMAL ,
P10_1_5 DECIMAL ,
P10_1_6 DECIMAL ,
P10_1_7 DECIMAL ,
P10_1_8 DECIMAL ,
P10_1_9 DECIMAL ,
P10_2 DECIMAL ,
P10_3 DECIMAL ,
P10_4_1 DECIMAL ,
P10_4_2 DECIMAL ,
P10_4_3 DECIMAL ,
P10_5_01 DECIMAL ,
P10_5_02 DECIMAL ,
P10_5_03 DECIMAL ,
P10_5_04 DECIMAL ,
P10_5_05 DECIMAL ,
P10_5_06 DECIMAL ,
P10_5_07 DECIMAL ,
P10_5_08 DECIMAL ,
P10_5_09 DECIMAL ,
P10_5_10 DECIMAL ,
P10_5_11 DECIMAL ,
P10_6ANIO DECIMAL ,
P10_6MES DECIMAL ,
P10_7 DECIMAL ,
P10_8_1 DECIMAL ,
P10_8_2 DECIMAL ,
P10_8_3 DECIMAL ,
P10_8_4 DECIMAL ,
P10_8_5 DECIMAL ,
P10_8_6 DECIMAL ,
P10_8_7 DECIMAL ,
P10_8_8 DECIMAL ,
P10_8_9 DECIMAL ,
P10_8_10 DECIMAL ,
P10_8_11 DECIMAL ,
P10_8_12 DECIMAL ,
P10_8_13 DECIMAL ,
P10_8_14 DECIMAL ,
P10_8_15 DECIMAL ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
ESTRATO INTEGER ,
UPM_DIS INTEGER ,
EST_DIS INTEGER ,

In [6]:
# Row and postgres dtype for the TSDem table
table_schema(pd.read_csv('TSDem.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
ID_PER VARCHAR ,
UPM INTEGER ,
VIV_SEL INTEGER ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
HOGAR INTEGER ,
N_REN INTEGER ,
NOMBRE VARCHAR ,
PAREN INTEGER ,
SEXO INTEGER ,
EDAD INTEGER ,
P2_5 INTEGER ,
P2_6 INTEGER ,
NIV DECIMAL ,
GRA DECIMAL ,
P2_8 DECIMAL ,
P2_9 DECIMAL ,
P2_10 DECIMAL ,
P2_11 DECIMAL ,
P2_12 DECIMAL ,
P2_13 DECIMAL ,
P2_14 DECIMAL ,
P2_15 DECIMAL ,
P2_16 DECIMAL ,
COD_M15 DECIMAL ,
CODIGO DECIMAL ,
REN_MUJ_EL DECIMAL ,
REN_INF_AD DECIMAL ,
FAC_VIV INTEGER ,
FAC_MUJ INTEGER ,
DOMINIO VARCHAR ,
ESTRATO INTEGER ,
EST_DIS INTEGER ,
UPM_DIS INTEGER ,

In [7]:
# Row and postgres dtype for the TVIV table
table_schema(pd.read_csv('TVIV.csv', encoding='cp1252'))

ID_VIV DECIMAL ,
UPM INTEGER ,
VIV_SEL INTEGER ,
CVE_ENT INTEGER ,
NOM_ENT VARCHAR ,
CVE_MUN INTEGER ,
NOM_MUN VARCHAR ,
COD_RES INTEGER ,
P1_1 INTEGER ,
P1_2 INTEGER ,
P1_2_A INTEGER ,
P1_3 INTEGER ,
P1_4_1 INTEGER ,
P1_4_2 INTEGER ,
P1_4_3 INTEGER ,
P1_4_4 INTEGER ,
P1_4_5 INTEGER ,
P1_4_6 INTEGER ,
P1_4_7 INTEGER ,
P1_4_8 INTEGER ,
P1_4_9 INTEGER ,
P1_5 INTEGER ,
P1_6 INTEGER ,
P1_7 INTEGER ,
P1_8 INTEGER ,
P1_9 DECIMAL ,
P1_10_1 DECIMAL ,
P1_10_2 DECIMAL ,
P1_10_3 DECIMAL ,
P1_10_4 DECIMAL ,
FAC_VIV INTEGER ,
DOMINIO VARCHAR ,
EST_DIS INTEGER ,
UPM_DIS INTEGER ,
ESTRATO INTEGER ,