In [1]:
# Initial imports.
import pandas as pd
import numpy as np
import sqlalchemy as sql
from getpass import getpass

In [2]:
# Ask for the database pasword
password = getpass('Enter database password')

In [3]:
# Create engine to connect to database
engine = sql.create_engine(f'postgresql://postgres:{password}@obstetric-violence.clstnlifxcx7.us-west-2.rds.amazonaws.com:5432/ENDIREH_2021')

# Get list of table names
sql.inspect(engine).get_table_names()

['TVIV', 'TSDem', 'TB_SEC_III', 'TB_SEC_IV', 'TB_SEC_X', 'obstetric_violence']

In [4]:
# Read the obstetric_violence table and show the results
df = pd.read_sql_table('obstetric_violence', con=engine)
df

,ID_PER,ID_VIV,UPM,VIV_SEL,HOGAR,N_REN,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
0,0100128.05.1.02,100128.05,100128,5,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0101482.03.1.03,101482.03,101482,3,1,3,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0101631.04.1.01,101631.04,101631,4,1,1,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0101876.04.1.02,101876.04,101876,4,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
4,0102096.02.1.02,102096.02,102096,2,1,2,1,AGUASCALIENTES,5,JESÚS MARÍA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110122,2805373.02.1.02,2805373.02,2805373,2,1,2,28,TAMAULIPAS,32,REYNOSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110123,2806028.02.1.03,2806028.02,2806028,2,1,3,28,TAMAULIPAS,38,TAMPICO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110124,3103444.16.1.01,3103444.16,3103444,16,1,1,31,YUCATÁN,21,CHICHIMILÁ,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,NaN
110125,3103573.19.1.04,3103573.19,3103573,19,1,4,31,YUCATÁN,35,HOCTÚN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110126,3101086.01.1.02,3101086.01,3101086,1,1,2,31,YUCATÁN,50,MÉRIDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Creating a copy of the database to choose the features we will use to analyse
df_copy = df.copy()

In [6]:
# Remove columns that had data that wasn't usefull like ids, sampling information and table structure
df_copy = df_copy.drop(columns=['ID_VIV', 'ID_PER' ,'UPM', 'VIV_SEL', 'HOGAR', 'N_REN', 'CVE_ENT', 'CVE_MUN', 'COD_RES', 'EST_DIS', 'UPM_DIS', 'ESTRATO', 'NOMBRE', 'SEXO', 'COD_M15', 'CODIGO', 'REN_MUJ_EL', 'REN_INF_AD', 'N_REN_ESP','T_INSTRUM', 'FAC_VIV', 'FAC_MUJ', 'PAREN', 'GRA', 'NOM_MUN', 'P4_4_CVE'])

In [7]:
# Removing women that did not had a pregnancy on the last 5 years
df_copy = df_copy[df_copy.P10_2 == 1.0]
df_copy

,NOM_ENT,DOMINIO,EDAD,NIV,P1_1,P1_2,P1_2_A,P1_3,P1_4_1,P1_4_2,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
3,AGUASCALIENTES,U,45,11.0,3,3,5,15,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
7,AGUASCALIENTES,R,31,4.0,3,2,3,5,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
8,BAJA CALIFORNIA,U,27,4.0,3,1,1,3,2,1,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
9,BAJA CALIFORNIA,U,25,10.0,3,1,3,6,2,1,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
19,COLIMA,U,30,9.0,3,2,4,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110105,TAMAULIPAS,U,25,3.0,2,2,3,4,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
110109,TLAXCALA,R,33,10.0,3,2,5,19,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
110110,TLAXCALA,C,33,10.0,2,2,5,10,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
110113,TLAXCALA,U,35,2.0,2,3,4,6,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
110124,YUCATÁN,C,31,3.0,2,2,3,4,2,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,NaN

In [20]:
#List of each target question we chose 
targets = ['P10_8_1',
'P10_8_2',
'P10_8_3',
'P10_8_4',
'P10_8_5',
'P10_8_6',
'P10_8_7',
'P10_8_8',
'P10_8_9',
'P10_8_10',
'P10_8_11',
'P10_8_12',
'P10_8_13',
'P10_8_14',
'P10_8_15']

In [42]:
# Extract the states in the dataset
States = df_copy['NOM_ENT'].unique()
# Create the Dictionary that stores the answers per state
state_answers = {}
# For loop that gathers the answers per state 
for state in States:
    state_answers[state] = {}
    for target in targets:
        if target == 'P10_8_15':
            column_name = f'{target}_1'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 1),[target]].size
            column_name = f'{target}_2'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 2),[target]].size
            column_name = f'{target}_3'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 3),[target]].size 
            column_name = f'{target}_4'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 4),[target]].size             
        else:
            column_name = f'{target}_Yes'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 1),[target]].size
            column_name = f'{target}_No'
            state_answers[state][column_name] = df_copy.loc[(df_copy['NOM_ENT'] == state) & (df_copy[target] == 2),[target]].size
# Create the DataFrame where the answers will be stored
state_answers_df = pd.DataFrame(state_answers).transpose()

In [43]:
state_answers_df

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
AGUASCALIENTES,30,611,58,583,2,639,34,607,66,575,...,332,309,313,19,318,14,5,1,3,5
BAJA CALIFORNIA,39,502,42,499,6,535,26,515,37,504,...,248,293,233,15,236,12,6,2,1,3
COLIMA,40,502,54,488,7,535,31,511,58,484,...,267,275,243,24,258,9,4,2,1,2
CHIAPAS,35,823,38,820,4,854,26,832,34,824,...,294,564,276,18,274,20,15,3,0,2
CHIHUAHUA,50,506,77,479,12,544,53,503,63,493,...,211,345,199,12,192,19,13,3,0,3
CIUDAD DE MÉXICO,29,238,42,225,3,264,23,244,34,233,...,131,136,118,13,120,11,6,1,0,4
DURANGO,66,669,73,662,7,728,42,693,83,652,...,323,412,298,25,302,21,8,6,1,6
HIDALGO,40,534,68,506,9,565,38,536,44,530,...,304,270,279,25,276,28,18,4,2,4
MORELOS,41,414,65,390,3,452,39,416,57,398,...,230,225,225,5,222,8,5,1,1,1
NAYARIT,40,622,53,609,9,653,32,630,71,591,...,273,389,248,25,254,19,9,6,1,3
NUEVO LEÓN,34,470,53,451,4,500,32,472,48,456,...,265,239,241,24,247,18,8,5,2,3
BAJA CALIFORNIA SUR,51,458,54,455,6,503,40,469,48,461,...,250,259,229,21,241,9,5,2,0,2
CAMPECHE,62,599,64,597,9,652,54,607,57,604,...,272,389,246,26,245,27,18,7,1,1
GUANAJUATO,40,660,62,638,8,692,31,669,48,652,...,338,362,308,30,311,27,11,9,4,3
GUERRERO,51,632,59,624,7,676,39,644,58,625,...,260,423,238,22,222,38,23,11,0,4
JALISCO,46,570,62,554,2,614,34,582,40,576,...,329,287,298,31,309,20,14,3,0,3
MÉXICO,44,482,69,457,5,521,42,484,56,470,...,253,273,231,22,237,16,13,0,0,3
MICHOACÁN DE OCAMPO,47,726,68,705,7,766,37,736,64,709,...,396,377,361,35,365,31,24,3,3,1
PUEBLA,36,576,77,535,5,607,51,561,45,567,...,325,287,300,25,306,19,11,4,2,2
SAN LUIS POTOSÍ,57,554,70,541,11,600,41,570,73,538,...,247,364,218,29,219,28,17,4,2,5
SINALOA,23,551,37,537,0,574,15,559,50,524,...,309,265,281,28,294,15,7,1,2,5
TLAXCALA,57,591,100,548,9,639,50,598,67,581,...,368,280,335,33,331,37,24,9,2,2
VERACRUZ DE IGNACIO DE LA LLAVE,48,494,66,476,4,538,38,504,56,486,...,279,263,268,11,253,26,18,5,2,1
ZACATECAS,47,658,74,631,8,697,42,663,50,655,...,235,470,219,16,228,7,5,2,0,0
OAXACA,39,624,70,593,5,658,44,619,56,607,...,292,371,270,22,256,36,28,7,1,0
QUERÉTARO,48,551,101,498,7,592,59,540,57,542,...,272,327,252,20,252,20,10,2,2,6
TABASCO,43,616,63,596,8,651,40,619,52,607,...,314,345,290,24,282,32,22,7,1,2
TAMAULIPAS,27,542,50,519,4,565,22,547,33,536,...,330,239,310,20,312,18,12,3,1,2
QUINTANA ROO,43,499,63,479,5,537,42,500,42,500,...,222,320,189,33,192,30,19,3,0,8
YUCATÁN,43,512,63,492,9,546,32,523,52,503,...,289,266,259,30,254,35,20,10,3,2
SONORA,40,492,58,474,3,529,34,498,53,479,...,285,247,263,22,267,18,7,8,0,3
COAHUILA DE ZARAGOZA,51,657,64,644,5,703,43,665,70,638,...,346,362,318,28,319,27,12,9,2,4