In [1]:
# Initial imports.
import re
import pandas as pd
import numpy as np
import sqlalchemy as sql
from getpass import getpass

In [2]:
# Ask for the database pasword
password = getpass('Enter database password')

Enter database password········

In [3]:
# Create engine to connect to database
engine = sql.create_engine(f'postgresql://postgres:{password}@obstetric-violence.clstnlifxcx7.us-west-2.rds.amazonaws.com:5432/ENDIREH_2021')

# Get list of table names
sql.inspect(engine).get_table_names()

['TVIV', 'TSDem', 'TB_SEC_III', 'TB_SEC_IV', 'TB_SEC_X', 'obstetric_violence']

In [4]:
# Read the obstetric_violence table and show the results
df = pd.read_sql_table('obstetric_violence', con=engine)
df

,ID_PER,ID_VIV,UPM,VIV_SEL,HOGAR,N_REN,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
0,0100128.05.1.02,100128.05,100128,5,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0101482.03.1.03,101482.03,101482,3,1,3,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0101631.04.1.01,101631.04,101631,4,1,1,1,AGUASCALIENTES,1,AGUASCALIENTES,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0101876.04.1.02,101876.04,101876,4,1,2,1,AGUASCALIENTES,1,AGUASCALIENTES,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
4,0102096.02.1.02,102096.02,102096,2,1,2,1,AGUASCALIENTES,5,JESÚS MARÍA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110122,2805373.02.1.02,2805373.02,2805373,2,1,2,28,TAMAULIPAS,32,REYNOSA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110123,2806028.02.1.03,2806028.02,2806028,2,1,3,28,TAMAULIPAS,38,TAMPICO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110124,3103444.16.1.01,3103444.16,3103444,16,1,1,31,YUCATÁN,21,CHICHIMILÁ,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,NaN
110125,3103573.19.1.04,3103573.19,3103573,19,1,4,31,YUCATÁN,35,HOCTÚN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110126,3101086.01.1.02,3101086.01,3101086,1,1,2,31,YUCATÁN,50,MÉRIDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Creating a copy of the database to choose the features we will use to analyse
df_copy = df.copy()

In [6]:
# Remove columns that had data that wasn't usefull like ids, sampling information and table structure
df_copy = df_copy.drop(columns=['ID_VIV', 'ID_PER' ,'UPM', 'VIV_SEL', 'HOGAR', 'N_REN', 'CVE_ENT', 'CVE_MUN', 'COD_RES', 'EST_DIS', 'UPM_DIS', 'ESTRATO', 'NOMBRE', 'SEXO', 'COD_M15', 'CODIGO', 'REN_MUJ_EL', 'REN_INF_AD', 'N_REN_ESP','T_INSTRUM', 'FAC_VIV', 'FAC_MUJ', 'PAREN', 'GRA', 'NOM_MUN', 'P4_4_CVE'])

In [7]:
# Removing women that did not had a pregnancy on the last 5 years
df_copy = df_copy[df_copy.P10_2 == 1.0]
df_copy

,NOM_ENT,DOMINIO,EDAD,NIV,P1_1,P1_2,P1_2_A,P1_3,P1_4_1,P1_4_2,...,P10_8_6,P10_8_7,P10_8_8,P10_8_9,P10_8_10,P10_8_11,P10_8_12,P10_8_13,P10_8_14,P10_8_15
3,AGUASCALIENTES,U,45,11.0,3,3,5,15,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
7,AGUASCALIENTES,R,31,4.0,3,2,3,5,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
8,BAJA CALIFORNIA,U,27,4.0,3,1,1,3,2,1,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
9,BAJA CALIFORNIA,U,25,10.0,3,1,3,6,2,1,...,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
19,COLIMA,U,30,9.0,3,2,4,10,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110105,TAMAULIPAS,U,25,3.0,2,2,3,4,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN
110109,TLAXCALA,R,33,10.0,3,2,5,19,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,3.0
110110,TLAXCALA,C,33,10.0,2,2,5,10,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
110113,TLAXCALA,U,35,2.0,2,3,4,6,1,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN
110124,YUCATÁN,C,31,3.0,2,2,3,4,2,1,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,NaN

In [8]:
#List of each target question we chose 
targets = ['P10_8_1',
'P10_8_2',
'P10_8_3',
'P10_8_4',
'P10_8_5',
'P10_8_6',
'P10_8_7',
'P10_8_8',
'P10_8_9',
'P10_8_10',
'P10_8_11',
'P10_8_12',
'P10_8_13',
'P10_8_14',
'P10_8_15']

In [9]:
def Answers_by_categories(target_col,target_questions = targets):
    # Extract the unique values for the requested column in the dataset
    Groups = df_copy[target_col].unique()
    # Create the Dictionary that stores the answers per group
    group_answers = {}
    # For loop that gathers the answers per group 
    for group in Groups:
        # Create a nested dictionary using each group as the outermost key
        group_name = f'{target_col}_{group}'
        group_answers[group_name] = {}
        # For loop that iterates through the target questions
        for target in target_questions:
            # Question P10_8_5 contains answers from 1 to 4
            if target == 'P10_8_15':
                column_name = f'{target}_1'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 1),[target]].size
                column_name = f'{target}_2'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 2),[target]].size
                column_name = f'{target}_3'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 3),[target]].size 
                column_name = f'{target}_4'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 4),[target]].size             
            else:
                column_name = f'{target}_Yes'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 1),[target]].size
                column_name = f'{target}_No'
                group_answers[group_name][column_name] = df_copy.loc[(df_copy[target_col] == group) & (df_copy[target] == 2),[target]].size
    # Create the DataFrame where the answers will be stored
    answers_df = pd.DataFrame(group_answers).transpose()
    return answers_df

In [10]:
Answers_by_area = Answers_by_categories('DOMINIO')
Answers_by_area.to_csv('CSVs/Answers_by_area.csv')
Answers_by_area

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
DOMINIO_U,694,7434,984,7144,88,8040,579,7549,877,7251,...,4140,3988,3793,347,3866,274,150,56,20,48
DOMINIO_R,350,5610,533,5427,54,5906,325,5635,441,5519,...,2417,3543,2221,196,2183,234,158,40,9,27
DOMINIO_C,343,4891,500,4734,51,5183,302,4932,404,4830,...,2532,2702,2342,190,2345,187,109,47,11,20

In [11]:
Answers_by_academic_level = Answers_by_categories('NIV')
Answers_by_academic_level.to_csv('CSVs/Answers_by_academic_level.csv')
Answers_by_academic_level.sort_index()

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
NIV_0.0,11,207,19,199,2,216,8,210,9,209,...,63,155,55,8,50,13,9,2,1,1
NIV_1.0,1,6,1,6,1,6,1,6,2,5,...,1,6,0,1,0,1,1,0,0,0
NIV_10.0,249,3022,347,2924,32,3239,193,3078,298,2973,...,1991,1280,1825,166,1874,117,78,14,9,16
NIV_11.0,18,293,23,288,2,309,12,299,22,289,...,220,91,208,12,211,9,7,1,0,1
NIV_2.0,124,2097,203,2018,16,2205,122,2099,175,2046,...,777,1444,714,63,705,72,44,16,4,8
NIV_3.0,487,6487,682,6292,61,6913,435,6539,606,6368,...,2951,4023,2728,223,2693,258,147,63,17,31
NIV_4.0,432,5133,659,4906,70,5495,375,5190,538,5027,...,2653,2912,2431,222,2461,192,112,41,7,32
NIV_5.0,2,24,3,23,1,25,3,23,1,25,...,9,17,9,0,9,0,0,0,0,0
NIV_6.0,7,126,10,123,0,133,9,124,12,121,...,86,47,81,5,82,4,2,0,0,2
NIV_7.0,28,252,38,242,3,277,21,259,31,249,...,148,132,134,14,138,10,3,3,1,3
NIV_8.0,0,5,0,5,0,5,0,5,0,5,...,3,2,3,0,3,0,0,0,0,0
NIV_9.0,28,283,32,279,5,306,27,284,28,283,...,187,124,168,19,168,19,14,3,1,1

In [12]:
Answers_by_marital_status = Answers_by_categories('P3_8')
Answers_by_marital_status.to_csv('CSVs/Answers_by_marital_status.csv')
Answers_by_marital_status

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
P3_8_A1,1102,14633,1584,14151,147,15588,958,14777,1361,14374,...,7422,8313,6849,573,6865,557,363,86,30,78
P3_8_B1,150,1645,222,1573,17,1778,132,1663,178,1617,...,807,988,737,70,737,70,28,28,6,8
P3_8_C1,70,780,108,742,14,836,63,787,94,756,...,420,430,374,46,390,30,2,21,3,4
P3_8_A2,54,754,85,723,12,796,42,766,69,739,...,370,438,336,34,339,31,20,6,1,4
P3_8_B2,10,110,15,105,2,118,9,111,16,104,...,63,57,54,9,56,7,4,2,0,1
P3_8_C2,1,13,3,11,1,13,2,12,4,10,...,7,7,6,1,7,0,0,0,0,0

In [13]:
# Get all questions for section P10_1_ 
interviewee_hospitals = [x for x in df_copy.columns if re.search("P10_1_",x)]
interviewee_hospitals

['P10_1_1',
 'P10_1_2',
 'P10_1_3',
 'P10_1_4',
 'P10_1_5',
 'P10_1_6',
 'P10_1_7',
 'P10_1_8',
 'P10_1_9']

In [14]:
# Create dataframe for each hospital
Hospital_dict = {}
for hospital in interviewee_hospitals:
    Hospital_dict[hospital] = Answers_by_categories(hospital).to_dict()
    for key in Hospital_dict[hospital].keys():
        Hospital_dict[hospital][key] = Hospital_dict[hospital][key][f'{hospital}_1.0']
Answers_by_hospital = pd.DataFrame(Hospital_dict).transpose()
Answers_by_hospital.to_csv('CSVs/Answers_by_affiliated_hospital.csv')
Answers_by_hospital

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
P10_1_1,533,5948,738,5743,71,6410,458,6023,660,5821,...,3259,3222,2989,270,3051,208,119,38,14,37
P10_1_2,20,306,22,304,2,324,14,312,22,304,...,119,207,114,5,113,6,4,1,0,1
P10_1_3,47,745,67,725,7,785,47,745,59,733,...,512,280,475,37,480,32,30,1,0,1
P10_1_4,10,133,9,134,1,142,7,136,6,137,...,90,53,83,7,85,5,5,0,0,0
P10_1_5,7,111,11,107,1,117,7,111,9,109,...,66,52,59,7,61,5,2,2,0,1
P10_1_6,256,3479,388,3347,45,3690,214,3521,294,3441,...,1528,2207,1387,141,1372,156,99,34,8,15
P10_1_7,6,255,11,250,0,261,4,257,11,250,...,190,71,176,14,186,4,2,1,1,0
P10_1_8,28,322,25,325,0,350,18,332,34,316,...,136,214,129,7,126,10,7,2,1,0
P10_1_9,492,6932,761,6663,69,7355,449,6975,638,6786,...,3380,4044,3120,260,3101,279,157,66,16,40

In [17]:
Answers_by_treating_hospital = Answers_by_categories('P10_7').drop(index='P10_7_nan')
Answers_by_treating_hospital.to_csv('CSVs/Answers_by_treating_hospital.csv')
Answers_by_treating_hospital

,P10_8_1_Yes,P10_8_1_No,P10_8_2_Yes,P10_8_2_No,P10_8_3_Yes,P10_8_3_No,P10_8_4_Yes,P10_8_4_No,P10_8_5_Yes,P10_8_5_No,...,P10_8_12_Yes,P10_8_12_No,P10_8_13_Yes,P10_8_13_No,P10_8_14_Yes,P10_8_14_No,P10_8_15_1,P10_8_15_2,P10_8_15_3,P10_8_15_4
P10_7_6.0,107,3567,120,3554,13,3661,49,3625,92,3582,...,2631,1043,2469,162,2501,130,96,15,8,11
P10_7_1.0,122,1406,198,1330,22,1506,114,1414,157,1371,...,535,993,492,43,488,47,22,15,2,8
P10_7_5.0,556,6103,839,5820,80,6579,501,6158,697,5962,...,2568,4091,2333,235,2294,274,152,73,17,32
P10_7_3.0,30,355,53,332,7,378,34,351,43,342,...,245,140,224,21,224,21,20,0,0,1
P10_7_2.0,514,4886,740,4660,63,5337,462,4938,665,4735,...,2353,3047,2140,213,2174,179,99,35,10,35
P10_7_7.0,20,793,23,790,3,810,15,798,20,793,...,551,262,501,50,517,34,24,1,3,6
P10_7_8.0,4,382,1,385,1,385,1,385,4,382,...,0,386,0,0,0,0,0,0,0,0
P10_7_4.0,14,140,16,138,1,153,12,142,15,139,...,76,78,71,5,69,7,4,2,0,1
P10_7_10.0,20,303,27,296,3,320,18,305,29,294,...,130,193,126,4,127,3,0,2,0,1
P10_7_9.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0